<!DOCTYPE html>
<html>
<head>
  <title>Diagramming Sentences</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/style.css">
  <script defer src="/static/js/reed-kellogg.js"></script>
  <script>var debug = {{ debug }};</script>
</head>
<body>
  <div class="wrapper">
    <div class="form-group">
      <label class="title" for="sentence">Sentence</label>
      <div class="flex">
        <input type="text" class="form-control flex-grow-1" id="sentence" placeholder="Type the sentence which you want to diagram" onkeydown="onEnter(event, processSentence)" autofocus>
        <button class="btn-primary" type="button" onclick="processSentence()">Send</button>
      </div>
    </div>
    <!-- <div id="alert-warning" class="alert alert-warning" role="alert" style="display: none;">Parsing results contain two or more disconnected sentence trees. The diagram may be invalid. Please, verify if you entered full sentence and it is grammatically correct.</div> -->
    <div class="flex">
      <div class="panel" id="tag-info" style="visibility: hidden;">
        <div class="panel-heading" id="word">-</div>
        <div class="panel-item">Part of speech: <span id="part"></span></div>
        <div class="panel-item" id="dep">-</div>
      </div>
    </div>
    <div class="title">Diagram</div>
    <div class="canvas-outer" id="canvas-outer">
      <canvas id="draw" width="20" height="20"></canvas>
    </div>
    {% if debug == 'true' %}
    <!-- <label for="sentence">Diagram size</label> -->
    <!-- <p><input id="range" type="range" min="0.5" max="2" step="0.1" value="1" onchange="drawSentences()"></p> -->
    <div id="diagrams"></div>
    {% end %}
  </div>
</body>
</html>